*{
    font-family: "Kanit", sans-serif;
}
.main .login{
    background:rgba(242, 240, 240, 0.172);
    box-shadow: 0 4px 8px 0 rgba(96, 92, 92, 0.2), 0 6px 20px 0 rgba(103, 96, 96, 0.19);

   
}
.main{
    background:rgba(165, 237, 225, 0.421);
}